.Wrapper {
    height: 100px;
    margin: 8px;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.973);
}

.Font {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.Line {
    margin-bottom: 2px;
}

.Current {
    font-weight: 300;
    color: blue;
}

.DataTags {
    font-weight: 200;
}

.More {
    width: 80px;
}