.BgColor {
    background: -webkit-linear-gradient(to top, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #18284898, #4b6bb7ce), url('../../assets/Weather-Background.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: cover;
 
}

.BodyScale { 
    height: 800px;
}
