.Wrapper {
    height: 114px;
    margin: 8px;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.973);
}

.Font {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: white;
}

.Line {
    margin-bottom: 7px;
}

.Current {
    font-weight: 400;
    color: rgb(0, 119, 255);
}

.DataTags {
    font-weight: 200;
}

.More {
    width: 80px;
}

.MainIcon {
    font-size: 50px;
    margin: -20px;
}

.LowMargin {
    margin-top: -15px;
}

.HighMargin {
    margin-top: 60px;
}

.TempFont {
    font-size: 28px;
}

.SummaryFont {
    font-size: 14px;
    color: white;
}

.Degrees {
    font-size: 25px;
}

.ScrollBox {
    background-color: rgba(0, 0, 0, 0.521);
}