.Temp {
    font-size: 10px;
    font-weight: 500;
}

.Day {
    font-size: 12px;
}

.NoBorder {
    border: none;
}

.Box {
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.534);
}

.TempLabel {
    font-size: 10px;
    font-weight: 300;
}

.Rain {
    font-size: 12px;
}

.Temperature {
    font-size: 14px;
}