.SearchBar {
    border-radius: 2px; 
}

.SearchBarIn {
    width: 200px;
    margin-left: 30px;
}

.SearchBtn {
    width:80px;
    border-radius: 2px;
    height: 45;
}




.Color {
    background-color: rgba(0, 0, 0, 0.521);
}