.Temp {
    font-size: 12px;
    font-weight: 500;
}

.Day {
    font-size: 14px;
}

.NoBorder {
    border: none;
}

.Box {
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.534);
}

.TempGauge {
    border-radius: 8px;
    box-shadow: 0px 1px 3px aqua;
    padding: 1.5px;
    padding-right: 10px;
    padding-left: 10px;
}